.feedTileDiv {
    /*
    Should this element be centered somehow below the search bar so that it looks more clean?
    */
    position: relative;
    width: 80%;
    margin: 2rem auto; 
    color: var(--color-text-main);
    border-top: 1px solid var(--color-border-main);
    text-align: left;
}

.feedTileContainer {
    width: 100%;
    border-radius: 20px;
    margin-top: 0.5rem;
    padding-top: 0.25rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.feedTileContainer:hover {
    background-color: var(--color-bg-main-hover);
}

.feedTileRowOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subredditContainer {
    display: flex;
    align-items: center;
}

.subredditContainer img {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
}

.subredditName {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-text-secondary)
}

.timeSincePost {
    font-size: 0.75rem;
    color: var(--color-text-secondary);
}

.joinButton {
    width: 3.5rem;
    height: 2rem;
    padding: 0;
    border: 2px solid var(--color-button-blue);
    background-color: var(--color-button-blue);
    border-radius: 50px;
    text-align: center;
    font-size: 0.75rem;
    font-weight: 700;
}

.joinButton:hover {
    border: 2px solid var(--color-button-blue-hover);
    background-color: var(--color-button-blue-hover);
}

.feedTileRowTwo {
    margin: 0;
    padding-top: 0;
    padding-bottom:0.5rem;
    font-size: 1.2rem;
}

.feedTileRowThreeVisualMediaContainer {
    border-radius: 1.25rem;
    border: 1px solid var(--color-border-main);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedTileRowThreeTextContainer {
    border-radius: 1.25rem;
    /*border: 1px solid var(--color-border-main);*/
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.feedTileRowThreeImage {
    max-width: 100%;
    max-height: 40vh;
    display: block;
    margin: 0 auto;
    border-radius: 1.25rem;
}

.feedTileRowThreeText {
    max-width: 100%;
    /*max-height: 40vh;*/
    display: block;
    margin: 0 auto;
    border-radius: 1.25rem;
}

/*.feedTileRowThreeText {

}*/

/* Testing how to blur a background image the way it's done on Reddit */
.bgTestContainer {
    width: 100%;
}

.rowThreeBgTest {
    border-radius: 1.25rem;
    border: 1px solid var(--color-border-main);
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    position: relative;
}

.test {
    width: 100%;
    height: inherit;
}

.feedTileRowThreeImageTest {
    max-width: 100%;
    max-height: 40vh;
    display: block;
    margin: auto;
    z-index: 2;
    position: relative;
}

/* End background test blur */

.feedTileRowFour {
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    font-weight: 700;
}

.commentInfo, .shareInfo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 50px;
    background-color: var(--color-bg-tertiary);
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}

.shareInfo, .joinButton {
    cursor: not-allowed;
}

.voteInfo {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
    border-radius: 50px;
    background-color: var(--color-bg-tertiary);
    display: flex;
    align-items: center;
    font-size: 0.75rem;
}


/*.feedTileRowFour > div:hover {
    background-color: var(--color-bg-tertiary-hover);
}*/

.shareInfo:hover, .commentInfo:hover, .voteInfo:hover {
    background-color: var(--color-bg-tertiary-hover);
}

.feedTileRowFour > div > img {
    width: 1rem;
}

.imgLeft {
    margin-right: 0.5rem;
    cursor: pointer;
}

.imgRight {
    margin-left: 0.5rem;
    cursor: pointer;
}

/*
.iconLeft {
    margin-right: 1rem;
    display: block;
    padding-left: 1rem;
    width: 1rem;
    font-size: 1rem;
    box-sizing: content-box;
    height: 1rem;
}
*/

.feedTileRowFour > div > p /*.feedTileRowFour > div > img*/ {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.voteInfo {
    padding: 0;
}

.voteInfo > .imgLeft, .voteInfo > .imgRight {
    box-sizing: content-box;
    padding: 0.5rem;
    border-radius: 50px;
    margin-top: 0;
    margin-bottom: 0;
    width: 1rem;
}

.voteInfo > img:hover {
    background-color: var(--color-bg-tertiary-hover);
}

.voteInfo .imgLeft:hover {
    background-color: green;
}

.voteInfo .imgRight:hover {
    background-color: red;
}
/*
.commentInfo {
    background-color: var(--color-bg-tertiary);
    display: flex;
}

.shareInfo {
    background-color: var(--color-bg-tertiary);
    display: flex;
}*/

.commentsSectionInvisible {
    display: none;
}

.commentsSectionVisible {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(3px);
    z-index: 3;
    max-height: 80vh;
    overflow: scroll;
}

.commentsSection {
    width: 80%;
    background-color: var(--color-bg-main-hover);
    /*opacity: 1;
    z-index: 4;*/
    padding-bottom: 1rem;
    border-radius: 20px;
    margin: 0 auto;
    /*overflow: scroll;*/
    padding: 0.75rem;
}

.commentsSectionTopRow {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--color-bg-main-hover);
    border-bottom: 1px solid var(--color-border-main);
    font-weight: 500;
}

.closeButton {
    height: 2rem;
    font-size: 0.75rem;
    background-color: transparent;
    border: none;
    position: relative;
    float: right;
    border-radius: 20px;
}

.closeButton:active, .closeButton:focus {
    outline: 2px solid var(--color-orange-main);
}

.commentTopRow {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.commentsLoading {
    color: var(--color-orange-main);
}

.commentText {
    margin-top: 0;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}

.userIcon {
    width: 2rem;
    height: 2rem;
    padding-right: 0.5rem;
}

.userName {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--color-text-secondary)
}