.logoMain {
    width: 10rem;
}

.miniLogo {
    display: none;
    width: 50px;
}

@media (max-width: 1000px) {
    .logoMain {
        display: none;
    }

    .miniLogo {
        display: block;
    }
}